<style>
	.sp{
		object-fit:cover
	}
</style>
<div class="left-sidebar">
	<h2>Category</h2>
@* 	<div class="panel-group category-products" id="accordian">
 *@		@await Component.InvokeAsync("DanhMuc")
@* 		 @Html.RenderAction("DanhMuc")
 *@
		
		


	<div class="brands_products">
		<!--brands_products-->

		@await Component.InvokeAsync("NhaSanXuat")
	</div><!--/brands_products-->
    <form method="get" action="@Url.Action("Index","Home")">
        <div class="price-range">
            <h2>Price Range</h2>
            <div class="well text-center">
                <input type="number" name="minPrice" placeholder="Min Price" value="@ViewBag.MinPrice" />
                <input type="number" name="maxPrice" placeholder="Max Price" value="@ViewBag.MaxPrice" />
                <br />
                <button type="submit" class="btn btn-primary">Apply</button>
            </div>
        </div>
        @if (ViewBag.DanhMucId != null)
        {
            <input type="hidden" name="danhMucId" value="@ViewBag.DanhMucId" />
        }
        @if (ViewBag.NhaSanXuatId != null)
        {
            <input type="hidden" name="nhaSanXuatId" value="@ViewBag.NhaSanXuatId" />
        }
    </form>

	<div class="shipping text-center">
		<!--shipping-->
		<img class="img-responsive" src="images/home/spjpg.jpg" alt="" />
	</div><!--/shipping-->

</div>